@font-face {
    font-family: "Raleway";
    src: url(../font/Raleway.ttf);
    font-weight: 600;
    font-style: bold;
    font-size: medium;
}
@font-face {
    font-family: "Roboto";
    src: url(../font/RobotoCondensed-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Pusia";
    src: url(../font/Pusia\ Bold.otf);
}
menu{
    background-color: white;
    margin-top: 0;
    max-height: fit-content;
    min-height: fit-content;
    box-shadow: 3px 3px 3px 3px;
    font-family: "Roboto";
    color: black;
    text-decoration: none;
    margin-bottom: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
}
a{
    color: black;
}
.menu-text{
    cursor: pointer;
}
body{
    background-color: #fff;
    font-family: "Roboto";
}
.br{
    max-width: 500px;
    max-height: 500px;
    background-color: white;
    margin-top: 20px;
}
.product-view .product-name{
    font-family: "Raleway";
    font-size: 24px;
    color: black;
}
.product-view .product-name .label-stock{
    font-size: 13px;
    padding: 4px 13px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    float: right;
}
.product-view .product-path{
    font-size: 13px;
    font-weight: 500;
    color: #252525;
    margin-bottom: 16px;
}
.product-view .selling-price{
    font-size: 26px;
    color: #000;
    font-weight: 600;
    margin-right: 8px;
}
.product-view .original-price{
    font-size: 18px;
    color: #937979;
    font-weight: 400;
    text-decoration: line-through;
}
.product-view .btn1{
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 14px;
    margin-top: 10px;
}
.product-view .btn1:hover{
    background-color: black;
    color: white;
}
.product-view .input-quantity{
    border: 1px solid #000;
    margin-right: 3px;
    font-size: 12px;
    margin-top: 10px;
    width: 58px;
    outline: none;
    text-align: center;
}
.item{
    margin: auto;
}
.link{
    margin-left: 20px;
    color: black;
}
.footer{
    font-family: "Roboto";
}
.form-check-input:checked{
    background-color: black !important;
    border: 0;
 }
 .form-check-input:focus, .label::after, label.form-check-label:focus, .form-check-input::after, .form-check-input:not(:disabled):not(.disabled):active:focus {
    color: black;
    outline: 0;
    border: 0;
    box-shadow: 0 0 0 0.1rem black !important;
 }
.label-stock{
        font-size: 13px;
        padding: 4px 13px;
        border-radius: 5px;
        color: #fff;
        box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}
.navbar-brand{
    font-family: "Pusia";
    font-size: medium;
    font-style: bold; 
}
.nav-link{
    font-family: "Roboto";
    color: black;
    text-decoration: none;
    font-size: larger; 
}
.text-body{
    color: black !important;
    text-decoration: none;
    font-family: "Raleway";
}